/* Universal */
html {
  font-size: 16px;
  box-sizing: border-box;
}

.container {
  display: flex;
}

@media only screen and (max-width: 450px) {
  html {
    font-size: 12px;
  }
}
/* Typography */
h1,
h4 {
  text-transform: uppercase;
  text-align: center;
}

h1 {
  margin: 2rem auto;
  font-size: 5.5rem;
  font-weight: 700;
}

h4 {
  margin: 1rem auto;
  font-size: 2rem;
  font-weight: 300;
}

/* Header Section */
header {
  padding: 0.25rem 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex-shrink: 0;
}

nav {
  width: 900px;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav li {
  display: inline-block;
  text-transform: uppercase;
}

.reservation {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 0.25rem 1rem;
  flex-basis: 10rem;
  height: 2.5rem;
  font-size: 1rem;
  display: inline-block;
  text-transform: uppercase;
}

.menu-ico {
  display: none;
}

@media only screen and (max-width: 768px) {
  nav,
  .reservation {
    display: none;
  }

  .menu-ico {
    padding: 0 0.5rem;
    display: inline-block;
  }
}

/* Banner Section */
.banner {
  padding: 0 1rem;
  height: 90vh;
  background-image: url(../images/banner-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-start;
  align-items: center;
}

.heading {
  width: 60%;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}
